{% extends 'layouts/master.html' %}

{% from 'macros/form_field_horizontal.html' import form_field %}

{% block title %}Resend Verify Email{% endblock %}

{% block content_title %}Resend Verify Email{% endblock %}

{% block content %}
    <form action="{{ url_for('base.resend_verify') }}" method="POST">
        {{ form.csrf_token }}
        {{ form_field(form.email) }}
        <div class="form-group row">
			<div class="col-sm-9 offset-sm-3">
				<button type="submit" class="btn btn-primary">Send Verification</button>
			</div>
		</div>
    </form>
{% endblock %}